button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
/* Display for the button, giving it a radial look */
.btn {
    display: inline-block;
    font-weight: 600;
    border-radius: 6px;
    letter-spacing: 0.01em;
    color: var(--clr-light);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* border: 1px solid red;; */
}

@page {
    size: auto;
}

/* Mobile */
@media only screen and (max-width:400px){
    .header__titles{
        font-size: 1.5rem;
        letter-spacing: -0.1rem;
    }
    h1,h2 {
        justify-content: center;
    }
}


/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px){
    .header__titles{
        font-size: 2rem;
        letter-spacing: -0.1rem;
    }
}
