h2 {
    text-align: center;
    width: 100%;
}

#blog__article {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid var(--clr-secondary);
}


#blog__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 5rem;
    justify-content: center;
    padding: 1rem;
  }
  
  .blog__img {
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;


  }

  h3 {
    background-color: var(--clr-bold);
  }

  a {   
    color: var(--clr-primary);
  }

  a:hover {
    color: var(--clr-button);
    transition: 0.3s;
  }