h2 {
    text-align: center;
    width: 100%;
}

#blog__article {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid var(--clr-secondary);
}

/* No media queries were used to get the blog responsive. I used CSS grids to do the work for me and auto fit on the page when there was room. As there is less room on a mobile, it fits nicely into a singular column. A tablet has enough screen size for 2 columns. My widescreen desktop could fit about 7 columns. This meant minimal coding and a great result. */

#blog__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 5rem;
    justify-content: center;
    padding: 1rem;
  }
  
  /* Styling to keep all images the same size. */
  .blog__img {
    min-height: 12.5rem;
    max-height: 12.5rem;
    min-width: 12.5rem;
    max-width: 12.5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;


  }

  h3 {
    background-color: var(--clr-bold);
  }

  a {   
    color: var(--clr-primary);
  }

  a:hover {
    color: var(--clr-button);
    transition: 0.3s;
  }