.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@page {
    size: auto;
}

/* Mobile Screens - Allowing the header to fit into small phones*/
@media only screen and (max-width:600px){
    .header__titles{
        font-size: 1.5rem;
        letter-spacing: -0.1rem;
    }
    h1,h2 {
        justify-content: center;
    }
}


/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 960px){
    .header__titles{
        font-size: 2rem;
        letter-spacing: -0.1rem;
    }
}

